{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="margin-top: 10px"><b>Szczegóły aukcji</b></h1>
    </br>
    {# Szczegóły aukcji #}
    <div class="card p-3">
        <div class="{{ auctionStyle(auction.expiresAt) }} p-4">
            <h4>{{ auction.title }}</a></h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ auction.description}}</p>               
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cena: {{ auction.price }} PLN</li>
            <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} PLN</li>
            <li class="list-group-item">Zakończenie aukcji: {{ auction.expiresAt | date('Y-m-d H:i:s') }}</li>
        </ul>
    </div>
    {# Lista złożonych ofert #}
    <div class="card p-3">
        <ul class="list-group list-group-flush">
            {% for offer in auction.offers %}
                <li class="list-group-item">Oferta {{ offer.price }} PLN, złożona dnia {{ offer.createdAt | date('Y-m-d H:i:s') }}</li>
            {% endfor %}
        </ul>
        <div class="card-body">
            {# Grupa przycisków do zarządzania aukcją #}
            <a href="{{ url('auction_index') }}">
                <button type="button" class="btn btn-primary float-left" style="margin-left: 5px">Powrót</button>
            </a>
            <a href="{{ url('my_auction_edit', {'id': auction.id}) }}">
                <button type="button" class="btn btn-warning float-left" style="margin-left: 5px">Edytuj</button></a>

            {# Przycisk "Usuń" zabezpieczony formularzem #}
            {{ form_start(deleteForm, {'attr': {'class': 'float-left'}}) }}
                {{ form_widget(deleteForm.submit, {'attr': {'class': 'btn-danger', "style": "margin-left: 6px"}}) }}
                {{ form_rest(deleteForm) }}
            {{ form_end(deleteForm) }}

            {# Przycisk "Zakończ" zabezpieczony formularzem #}
            {{ form_start(finishForm, {'attr': {'class': 'float-left'}}) }}
                {{ form_widget(finishForm.submit, {'attr': {'class': 'btn-dark', "style": "margin-left: 6px"}}) }}
                {{ form_rest(finishForm) }}
            {{ form_end(finishForm) }}

            <div class="clearfix"></div>
        </div>
    </div>

{% endblock %}
