{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center" style="margin-top: 10px"><b>Moje aukcje</b></h1>
    </br>
    {# Wyświetlanie wszystkich aktywnych aukcji #}
    {% for auction in auctions %}
        <div class="card p-3">
            <div class="{{ auctionStyle(auction.expiresAt) }} p-4">
                <h4>{{ auction.title }}</h4>
            </div>
            <div class="card-body">
                <p class="card-text">{{ auction.description}}</p>               
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cena: {{ auction.price | number_format }} PLN</li>
                <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice | number_format }} PLN</li>
                <li class="list-group-item">{{ auction.expiresAt | expireDate }}</li> 
            </ul>
            <div class="card-body">
                <a href="{{ url("my_auction_details", {"id": auction.id}) }}">
                    <button type="button" class="btn btn-primary float-left">Szczegóły aukcji</button>
                </a>              
            </div>
        </div>
        <br>
    {% else %}
        {# Jeśli brak aktywnych aukcji #}
        <div class="card-body bg-warning text-center">
            <h3>Brak aktywnych aukcji...</h3>
        </div>
    {% endfor %}

{% endblock %}
