{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="card p-3" style="margin-bottom: 15px">
    <div class="card-body">
        <div class="form-group">
            <label class="sr-only-focusable">E-mail</label>
            {{ form_widget(form.email) }}
        </div>

        <div class="form-group">
            <label class="sr-only-focusable">Login</label>
            {{ form_widget(form.username) }}
        </div>

        <div class="form-group">
            <label class="sr-only-focusable">Hasło</label>
            {{ form_widget(form.plainPassword.first) }}
        </div>

        <div class="form-group">
            <label class="sr-only-focusable">Potwierdź hasło</label>
            {{ form_widget(form.plainPassword.second) }}
        </div>

        <div>
            <input class="btn btn-primary" type="submit" value="Zarejestruj się" />
        </div>
    </div>
</div>
{{ form_end(form) }}
