{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="card p-3">
            <div class="card-header p-4">
                <h4>{{ auction.title }}</a></h4>
            </div>
            <div class="card-body">
                <p class="card-text">{{ auction.description}}</p>               
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cena: {{ auction.price }} PLN</li>
                <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} PLN</li>
                <li class="list-group-item">Zakończenie aukcji: {{ auction.expiresAt | date('Y-m-d H:i:s') }}</li>
            </ul>
        </div> 
    <a href="{{ url('auction_index') }}"><button type="button" class="btn btn-outline-primary">Powrót</button></a>
    {# Przycisk "Usuń" zabezpieczony formularzem #}
    {{ form(deleteForm) }}
</div>
    
{% endblock %}
