{% extends 'base.html.twig' %}

{% block body %}
    {# Szczegóły aukcji #}
    <div class="card p-3">
        <div class="card-header bg-success p-4">
            <h4>{{ auction.title }}</a></h4>
        </div>
        <div class="card-body">
            <p class="card-text">{{ auction.description}}</p>               
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cena: {{ auction.price }} PLN</li>
            <li class="list-group-item">Cena wywoławcza: {{ auction.startingPrice }} PLN</li>
            <li class="list-group-item">Aukcja zakończona: {{ auction.expiresAt | date('Y-m-d H:i:s') }}</li>
            <li class="list-group-item"><b>Brak możliwości edycji</b></li>
        </ul>
                <div class="card-body">
            <a href="{{ url('auction_index') }}"><button type="button" class="btn btn-primary float-left">Powrót</button></a>
        </div> 
        
    </div>

    
    
{% endblock %}

